{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
   <main>
        <article class="page-container">
            <section class="page-about">
                <h1 class="title-about">Reptiles Stores Finder</h1>
                <h2 class="title-presentation">A propos</h2>
                    <div class="bloc-presentation">
                        <p>
                            Reptiles Stores Finder vous permet de trouver un ou des magasin(s) de reptiles à proximité de chez vous.
                        </p>
                        <p>
                            Vous pouvez filtrer votre recherche selon une ou des catégorie(s) spécifique(s).
                        </p>
                        <p>
                            Par exemple, si votre recherche concerne seulement la catégorie des serpents, vous pouvez taper sur la barre de recherche "serpents" et vous retrouverez tous les magasins spécialisés de serpents.
                        </p>
                        <p>
                            Vous avez la possibilité de vous inscrire. Ceci vous permettra de sélectionner vos magasins favoris et de garder cette liste de sélection.
                        </p>
                        <p>
                            En résumé, Reptiles Stores Finder vous aidera dans vos recherches et à trouver votre bonheur.
                        </p>
                        <p>
                            Bonne recherche !
                        </p>
                    </div>
            </section>
        </article>
    </main>
{% endblock %}
