{% extends 'base.html.twig' %}

{% block title %}Annuaire de magasins de reptiles{% endblock %}

{% block body %}
    <main>
        <article class="page-container">
            <section id="module-search">
                <div class="bloc-search">
                    <h1 class="search-title">Trouver un magasin de reptiles</h1>
                    <div class="search-store-result">
                        <div id="search-vue">
                        </div>
                    </div>
                </div>
            </section>
            <section id="search-result">
                <h2 class="title-result">Vos magasins de reptiles à proximité (nb magasins)</h2>
                <div class="list-map-stores" id="vue-store">
                </div>
            </section>
        </article>
    </main>
{% endblock %}
