{% extends 'base.html.twig' %}

{% block title %}Annuaire de magasins de reptiles{% endblock %}

{% block body %}
    <main>
        <article class="page-container">
            <section id="module-search">
                <div class="bloc-search">
                    <h1 class="title-search">Trouver un magasin de reptiles</h1>
                    <div id="search-vue" class="search">
                    </div>
                </div>
            </section>
            <section id="vue-store">
            </section>
        </article>
    </main>
{% endblock %}
