body {
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    font-size: 1em;
    color: #151515;
}

h1, h2, h3  {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 1em;
}

h2 {
    font-size: 1.5em;
    margin-top: 5em;
}

.title-footer, .search-bar-localisation, .search-bar-submit, .icons-footer   {
    color: #287b2e;
}

.footer-logo img {
    border-radius: 125px;
}

img {
    max-width: 100%;
    width: auto;
}

a {
    text-decoration: none;
}

 li {
    list-style-type: none;
 }

.header {
    background-color: #b7ecbb;
    padding: 1em 5em ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #287b2e;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-nav {
    background-color:#287b2e;
    text-align:center;
    width: 100%;
    padding: 1em;
}

.header-nav a {
    color:#fff;
    font-weight: bold;
    padding: 2em;
}

.header-nav a:hover {
    background-color:#fff;
    color: #287b2e;
    transition: all 1s;
}

.icon {
    margin: 0 0.5em;
}

.bloc-search {
    background-color: #F0F0F2;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar-stores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em 20em 0 20em;
}

.search-bar-input, .search-bar-submit {
    padding: 2em;
}

.search-bar-input, .search-bar-submit, .list-categories {
    border: 1px solid #287b2e;
}

.search-bar-submit, .list-categories {
    text-align: center;
}

.search-bar-input, .search-bar-submit {
    background-color: #fff;
}

.search-bar-input {
    width: 100%;
}

.search-bar-submit {
    width: 25%;
    font-weight: bold;
}

.list-categories {
    overflow: scroll;
    margin: 0 20em 5em 20em;
    border-top: none;
    padding-left: 0;
    background-color: #fff;
}

.search-bar-submit:hover, .list-categories-content:hover, .stores-info:hover, .submit-form-login:hover, .submit-form-register:hover, .submit-form-reset-password:hover {
    cursor: pointer;
}

.list-categories-content {
    padding: 1em 4em;
}

.list-categories-content:hover {
    color: #fff;
    background-color: #ccc;
}

.list-map-stores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}
.list-container, .map-stores-container  {
    border: 1px solid black;
    width: 600px;
    height: 400px;
}

.list-container {
    overflow: scroll;
    text-align: center;
}

/* .list-stores {
    padding-left: 0;
} */

.list-stores-content {
    list-style-type:none;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2em;
}

.stores-info {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
    width: 400px;
}

.stores-info:hover {
    background-color: #F0F0F2;
}

.store-name {
    font-weight: bold;
}

.icon-favorites {
    color: #287b2e;
}

.map-stores-content {
    color: black;
    text-align: center;
}

 .bloc-presentation {
    text-align: center;
    margin: 4em;
 }

.footer-container {
    border-top: 1px solid #287b2e;
}

.info-registration, .form-login, .form-register, .form-reset-password {
    margin-top: 4em;
}

.info-registration {
    text-align: center;
}

.link-register, .link-reset-password {
    color: #287b2e;
}

.label-form-login, .label-form-register, .label-form-reset-password {
    color: #555;
}

.label-form-login {
    margin: 1em auto;
}

.input-form-login, .submit-form-login, .input-form-register, .submit-form-register, .input-form-reset-password, .submit-form-reset-password {
    border: 1px solid #ccc;
    border-radius: 0.25em;
}

.input-form-login, .input-form-register, .input-form-reset-password {
    padding: 1em;
    background-color: #fff;
}

.submit-form-login, .submit-form-register, .submit-form-reset-password {
    padding: 1em 4em;
    margin: 1em auto;
    background-color: #b7ecbb;
}

.link-reset-password {
    margin: 1em auto;
    font-size: 0.75em;
}

.input-form-register, .input-form-reset-password {
    margin-bottom: 1em;
}

.label-form-reset-password {
    margin-right: 1em;
}

.form-login, .form-register, .form-reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}

.footer {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em;
}

.footer-contact, .footer-social-network {
    padding : 1em 5em;
}

.icons-footer {
    margin-right: 1em;
}

address a {
    font-style: normal;
    color: #151515;
    line-height: 1.2em;
}

address a:hover {
    text-decoration: underline;
    color: #287b2e;
}

 .icons-social-network {
    font-size: 2em;
    margin: 4px;
 }

.fa-facebook-square {
    color: #4267B2;
}

.fa-twitter-square {
    color: #1da1f2; 
}

.fa-pinterest {
    color: #bd081c;
}

.fa-instagram {
    color: #8948C1;
}