body {
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
    font-size: 1em;
    color: #151515;
}

.search-title, .title-result, .title-footer  {
    font-weight: bold;
    text-align: center;
}

.search-title {
    font-size: 2em;
    margin-top: 0;
    padding-top: 1em;
}

.title-result {
    font-size: 1.5em;
    margin-top: 5em;
}

.title-footer, .search-bar-localisation, .search-bar-submit, .icons-footer   {
    color: #287b2e;
}

.footer-logo img {
    border-radius: 125px;
}

img {
    max-width: 100%;
    width: auto;
}

a {
    text-decoration: none;
}

 li {
    list-style-type: none;
 }

.header {
    background-color: #b7ecbb;
    padding: 1em 5em ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #287b2e;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-nav {
    background-color:#287b2e;
    text-align:center;
    width: 100%;
    padding: 1em;
}

.header-nav a {
    color:#fff;
    font-weight: bold;
    padding: 2em;
}

.header-nav a:hover {
    background-color:#fff;
    color: #287b2e;
    transition: all 1s;
}

.icon {
    margin: 0 0.5em;
}

.bloc-search {
    background-color: #EAEAEA;
    padding-bottom: 5em;
}

.search-bar-stores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar-input, .search-bar-localisation, .search-bar-submit {
    border: 1px solid #287b2e;
    padding: 2em;
    text-align: center;
}

.search-bar-input {
    width: 50%;
}

.search-bar-submit {
    width: 10%;
    font-weight: bold;
}

.list-map-stores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.list-container {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.list-stores-content {
    list-style-type:none;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.map-stores-container {
    border: 1px solid black;
    width: 600px;
    height: 150px;
}

.map-stores-content {
    color: black;
    text-align: center;
}

.footer-container {
    border-top: 1px solid #287b2e;
}

.footer {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em;
}

.footer-contact, .footer-social-network {
    padding : 1em 5em;
}

.icons-footer {
    margin-right: 1em;
}

address a {
    font-style: normal;
    color: #151515;
    line-height: 1.2em;
}

address a:hover {
    text-decoration: underline;
    color: #287b2e;
}

 .icons-social-network {
    font-size: 2em;
    margin: 4px;
 }

.fa-facebook-square {
    color: #4267B2;
}

.fa-twitter-square {
    color: #1da1f2; 
}

.fa-pinterest {
    color: #bd081c;
}

.fa-instagram {
    color: #8948C1;
}