body {
    background-color:#fff;
    font-family: 'Roboto', sans-serif;
    line-height:1.2em;
}

.header {
    background-color: #b7ecbb;
    padding: 1em 5em ;
    font-weight: 700;
    line-height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #287b2e;
}

.header-logo img {
    width: auto;
}

img {
    max-width: 100%;
}

#header-nav {
    background-color:#287b2e;
    text-align:center;
    padding-top:0.1em;
    padding-bottom:0.1em;
    width: 100%;
    
}

#header-nav li {
    list-style-type:none;
    display:inline-block;
}

#header-nav a {
    text-decoration:none;
    color:#fff;
    margin:0 90px;
}

.icon {
    margin: 0 0.5em;
}

.search-title {
    font-size: 2em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 0;
    padding-top: 1em;
}

.title-result {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 5em;
}

.bloc-search {
    background-color: #b4b4b4;
}

.search-bar-stores {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar {
    border-radius: 30px;
    border: 1px solid black;
    text-align: center;
    margin: 1em;
    padding: 1em;
    width: 50%;
}

.search-bar-localisation {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
}

.search-bar-submit {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    text-align: center;
}

.list-map-stores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.list-container {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.list-stores-content {
    list-style-type:none;
    color: black;
    text-align: center;
}

.map-stores-container {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.map-stores-content {
    color: black;
    text-align: center;
}

.footer-container {
    border-top: 1px solid #287b2e;
}

.footer {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-footer {
    color: #287b2e;
    text-align: center;
}

.footer-logo img {
    width: auto;
    border-radius: 125px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em;
}

.footer-contact {
    padding : 1em 5em;
}

.footer-social-network {
    padding: 1em 5em;
}

.icons-footer {
    margin-right: 1em;
    color: #287b2e;
}
