{% extends 'base.html.twig' %}

{% block title %}Mes selections{% endblock %}

{% block body %}
    <main>
        <h1 class="title-favorites">Mes sélections</h1>
        <h2 class="title-list-favorites">Ma liste de magasins favoris</h2>
        {% for favorite in favorites %}
            <div class="favorite">
                {{ favorite.store.name }}
                {{ favorite.store.address.streetNumber }}
            </div>
        {% endfor %}
    </main>
{% endblock %}
